<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daesungkim.sherloc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.example.daesungkim.sherloc.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.daesungkim.sherloc.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/androidicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity_2"
            android:label="Log In"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--<activity-->
            <!--android:name=".HomeActivity2"-->
            <!--android:label="@string/title_activity_home"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
        <!--</activity>-->
        <activity
            android:name=".ObjectRegistrationActivity"
            android:label="@string/title_activity_object_registration"
            android:parentActivityName=".HomeActivity2"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.daesungkim.sherloc.HomeActivity2" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HomeActivity2"
            android:label="@string/title_activity_home2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- parse push notification things-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.daesungkim.sherloc" />
            </intent-filter>
        </receiver>
        <!-- parse push notification things end-->
    </application>
</manifest>
